In [7]:
import pandas as pd
import numpy as np


df=pd.DataFrame({'Age':[20,21,22,23,24,25,26,27,28,29,30,50]})

mean=np.mean(df['Age'])
std=np.std(df['Age'])

df['Z-Score']=(df['Age']-mean)/std

df=df[df['Z-Score']<=3]
df

    Age   Z-Score
0    20 -0.938954
1    21 -0.806396
2    22 -0.673838
3    23 -0.541280
4    24 -0.408721
5    25 -0.276163
6    26 -0.143605
7    27 -0.011047
8    28  0.121512
9    29  0.254070
10   30  0.386628
11   50  3.037793

## SCIPY

In [8]:
import numpy as np
import pandas as pd
from scipy import stats

In [15]:
df=[2.5,2.7,2.0,3.4,3.6,3.0,5.9,5.0,111.0]
z_score=np.abs(stats.zscore(df))

threshold=2.5
outlier=np.where(z_score>threshold)[0]
print("====================================")
print("Data:",df)
print("====================================")
print("Indices of Outlier",outlier)
print("outliers:",[df[i] for i in outlier])
    
    ## remove outliers
df=[df[i] for i  in range(len(df)) if i not in outlier]
print("Data Without outlier",df)

====================================
Data: [2.5, 2.7, 2.0, 3.4, 3.6, 3.0, 5.9, 5.0, 111.0]
====================================
Indices of Outlier [8]
outliers: [111.0]
Data Without outlier [2.5, 2.7, 2.0, 3.4, 3.6, 3.0, 5.9, 5.0]

## Using IQR Method

In [16]:
import pandas as pd
import numpy as np

In [19]:
df=pd.DataFrame({'Age':[20,21,22,23,24,25,26,27,28,29,30,50]})

Q1=np.percentile(df['Age'],25,interpolation='midpoint')
Q3=np.percentile(df['Age'],75,interpolation='midpoint')

IQR=Q3-Q1

lower_bound=Q1-(1.5*IQR)
upper_bound=Q3+(1.5*IQR)

print("============With Outlier=================")
print(df)

============With Outlier=================
    Age
0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
10   30
11   50

In [18]:
print('===================Without outlier==============')
print(df[(df['Age']<lower_bound) | (df['Age']>upper_bound)])

# Remove outlier
df=df[(df['Age']>=lower_bound) & (df['Age']<= upper_bound)]
df

===================Without outlier==============
    Age
11   50

    Age
0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
10   30

## K-Means Clustering

In [26]:
from sklearn.cluster import KMeans

df=[[2,2],[3,3],[3,4],[30,30],[31,31],[32,32]]

Kmeans=KMeans(n_clusters=2,n_init=10)
Kmeans.fit(df)

labels=Kmeans.predict(df)

outliers=  [df[i] for i,label in enumerate(labels) if label == 1]
print("Data",df)
print("Outliers",outliers)

Data [[2, 2], [3, 3], [3, 4], [30, 30], [31, 31], [32, 32]]
Outliers [[2, 2], [3, 3], [3, 4]]

In [27]:
df=  [df[i] for i,label in enumerate(labels) if label == 0]
print("Without Outliers",df)

Without Outliers [[30, 30], [31, 31], [32, 32]]